body{

background:#f4f8fc;

font-family:Poppins,sans-serif;

}

.admission-card{

background:#fff;

padding:40px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.10);

}

.admission-card h2{

font-weight:700;

color:#003366;

}

.admission-card p{

color:#666;

}

.form-control,
.form-select{

height:50px;

border-radius:12px;

}

textarea.form-control{

height:auto;

}

.btn-primary{

height:50px;

border-radius:50px;

font-weight:600;

}