@media(max-width:992px){

.hero{

text-align:center;

}

.hero h1{

font-size:45px;

}

.stats-card{

margin-top:40px;

}

}

@media(max-width:576px){

.hero h1{

font-size:35px;

}

.hero p{

font-size:16px;

}

.hero-buttons .btn{

display:block;

width:100%;

margin-bottom:15px;

}

.stats-card{

grid-template-columns:1fr;

}

}

/* ABOUT */

@media(max-width:768px){

.section-title{

font-size:34px;

}

.about-list{

grid-template-columns:1fr;

}

.about-home{

text-align:center;

}

}

@media(max-width:768px){

.achievement-card{

margin-bottom:20px;

}

}

@media(max-width:768px){

.feature-card{

padding:25px;

}

.feature-card i{

width:65px;

height:65px;

line-height:65px;

font-size:26px;

}

}

@media(max-width:768px){

.principal-img{

margin-bottom:35px;

}

.principal-section{

text-align:center;

}

}

@media(max-width:768px){

.gallery-card img{

height:220px;

}

}

@media(max-width:768px){

.news-card{

margin-bottom:20px;

}

}

@media(max-width:768px){

.footer{

text-align:center;

}

.social-links{

justify-content:center;

}

}

