:root{

--primary:#0D6EFD;
--secondary:#003366;
--gold:#F4B400;
--white:#fff;
--light:#F8F9FA;
--dark:#212529;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:'Poppins',sans-serif;

}

a{

text-decoration:none;

}

ul{

list-style:none;
margin:0;
padding:0;

}